:root{
    --blue-color:#5095EC;
    --black-color:#505050;
    --secondtx-color:#8F8F8F;
    --grey-color:#D3D8DE;
    --background-color:#F1F1F1;
    --white-color:#F1F1F1;
}

/* Шрифты */
.main p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--black-color);
}
.main a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--black-color);
}
.mg5{
    margin-bottom: 5px;
}
.mg5_gray{
    margin-bottom: 5px;
    color: var(--secondtx-color);
}
.title-post{
    color:var(--black-color);
    margin-top: 10px;
    margin-left: 10px;
}

/* Навигационная панель */
.wrapper{
    border: solid;
    border-width:thin;
    border-color: var(--grey-color);
    border-right: none;
    border-left: none;
    height: 40px;
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}

/* Страница с активностью */
.activity{
    display: flex;
    width: 1440px;
    height: 1027px;
}

/* Блок с резюме */
.activity-cv{
    border: solid;
    border-width:thin;
    border-color: var(--grey-color);
    width: 1080px;
    height: 672px;
    padding: 32px;
}
.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-comment{
    color:var(--blue-color);
}
.comment-text{
    border:solid;
    border-color: var(--grey-color);
    border-right: none;
    border-bottom: none;
    border-top: none;
    padding-left: 10px;
}
.author{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap:5px;
}
.author :hover{
    text-decoration: underline;
}
.viewers{
    display: flex;
    flex-direction: row;
}
.view{
    margin-right: 16px;
    display: flex;
    flex-direction: row;
}
.comm{
    margin-left: 16px;
    display: flex;
    flex-direction: row;
}
.comm :hover{
    color:var(--blue-color)
}
.comment-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.readpost{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.readpost :hover{
    color:var(--blue-color)
}
.readpost svg{
    margin-top: 1px;
}
.dropdown-under-cv{
    border: solid;
    border-width:thin;
    border-color: var(--grey-color);
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin-top: 32px;
}
/* Блок с профилем */
.activity-right-side{
    display: flex;
    flex-direction: column;
}
.activity-profile{
    border: solid;
    border-width:thin;
    border-color: var(--grey-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 32px;
    width: 264px;
    height: 296px;
}
.portrait{
    border-radius: 70px;
    width: 132px;
    height: 132px;
    object-fit: cover;
    object-position: 0 0;
    margin-bottom:20px;
}
.dropdown-under-profile{
    border: solid;
    border-width:thin;
    border-color: var(--grey-color);
    display: flex;
    margin-left: 32px;
    margin-top: 32px;
    width: 264px;
    height: 40px;
}
.card-skills{
    margin-left: 32px;
    margin-top: 32px;
    text-align: center;
}
.skill-row {
    width: 100%;
    background-color: var(--grey-color);
    margin-bottom: 1rem;
}
.skill {
    text-align: right;
    line-height: 24px;
    text-align: center;
}
.skill-first {width: 69%; background-color: rgb(21, 177, 26);}
.skill-second {width: 60%; background-color: #81bc21;}
.skill-third {width: 50%; background-color: #d2be04;}
.skill-fourth {width: 20%; background-color: #d28304;}
