:root{
    --blue-color:#5095EC;
    --black-color:#505050;
    --secondtx-color:#8F8F8F;
    --grey-color:#D3D8DE;
    --background-color:#F1F1F1;
    --white-color:#F1F1F1;
}

/* Шрифты */
.main p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--black-color);
    margin-bottom: 0;
}
.main a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--black-color);
}
.link{
    text-decoration: none;
}
/* Навигационная панель */
.wrapper{
    margin-top: 10px;
    min-width: 375px;
    background-color: var(--white-color);
}
.nav-shadow{
    box-shadow: 0px 2px  var(--grey-color),0px -1px var(--grey-color);
    min-height: 40px;
}

/* Страница с активностью */
.activity{
    display: flex;
    width: 1440px;
    height: 1027px;
}

/* Блок с резюме */
.activity-cv{
    border: solid;
    border-width:thin;
    border-color: var(--grey-color);
    padding: 16px 32px 16px 32px;
}
.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-comment{
    color:var(--blue-color);
}
.comment-text{
    box-shadow: -2px 0px  var(--grey-color);
    padding-left: 10px;
}
.author{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap:5px;
}
.author :hover{
    text-decoration: underline;
}
.view{
    margin-right: 16px;
    display: flex;
    flex-direction: row;
}
.page-comment{
    margin-left: 16px;
    display: flex;
    flex-direction: row;
}
.page-comment :hover{
    color:var(--blue-color)
}
.comment-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.readpost{
    gap: 10px;
}
.readpost :hover{
    color:var(--blue-color)
}
.readpost svg{
    margin-top: 1px;
}
.dropdown-under-cv{
    border: solid;
    border-width:thin;
    border-color: var(--grey-color);
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding: 16px 32px 16px 32px;
}
/* Блок с профилем */
.activity-profile{
    border: solid;
    border-width:thin;
    border-color: var(--grey-color);
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
}
.portrait{
    border-radius: 70px;
    width: 132px;
    height: 132px;
    object-fit: cover;
    object-position: 0 0;
    margin-top: 20px;
    margin-bottom:20px;
}
.dropdown-under-profile{
    border: solid;
    border-width:thin;
    border-color: var(--grey-color);
    display: flex;
    margin-top: 32px;
    min-width: 293px;
    min-height: 40px;
}
.card-skills{
    margin-top: 32px;
    text-align: center;
}
.skill-row {
    background-color: var(--grey-color);
    margin-bottom: 15px;
}
.skill {
    text-align: right;
    line-height: 24px;
    text-align: center;
}
.skill-first {
    margin-right: 30%;
    background-color: rgb(21, 177, 26);
}
.skill-second {
    margin-right: 40%;
    background-color: #81bc21;
}
.skill-third {
    margin-right: 50%;
    background-color: #d2be04;
}
.skill-fourth {
    margin-right: 80%;
    background-color: #d28304;
}

.icon{
    width: 20px;
    height: 20px;
    fill:var(--black-color);
}
.icon:hover{
    fill: var(--blue-color);
}
.icon-checkmark{
    fill:green;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.activity-icon{
    width: 24px;
    height: 24px;
}
.activity-icon20{
    width: 20px;
    height: 20px;
}
