.card{
  width: 100%;
}
.map{
  display:none;
  width: 100%;
  min-height: 600px;
  background-color: #333;
}
.preloader{
  height: 600px;
  position: relative;
  opacity: 1;
}
.preloader-size{
  width: 100px;
  height: 100px;
}
.spinner-border{
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.preloader-remove {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.map-show{
  display: block;
}
